.obligatorio{
    color: red;
    font-weight: bold;
}

.error_cuadro {
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 1px black;
}

.error{
    color: red;
    display: block;
    margin-top: 4px; 
    font-size: 0.9em;
}

label{
    font-size: 17px;
}

form#formulario {
    margin-left: 38%;
    margin-top: 10%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    box-shadow: 13px 13px 10px rgba(0,0,0,0.1);
    background-color: rgb(224, 249, 255);
}

form h4{
    font-size: 28px;
}

form input,select{
    margin-top: 2%;
    border: 0;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

button{
    background-color: rgb(204, 204, 204);
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 8%;
    border: none;
    border-radius: 7px;
}

button:hover {
    background-color: rgb(127, 208, 251);
    transition: 0.7s;
    
}
