.error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
    display: block;
}

.errorCuadro {
    border: 2px solid red !important;
}

.obligatorio {
    color: red;
    font-weight: bold;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgb(164, 223, 255);
    border: none;
    border-radius: 6px;
    transition: 0.2s;
}

button:hover:not(:disabled) {
    background-color: rgb(82, 180, 255);
    transition: 0.7s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


form {
    width: 380px;
    margin: 40px auto;
    padding: 25px 40px 25px 25px;
    background: rgb(236, 247, 255);
    border: 2px solid #d0d7e0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    outline: none;
    border-color: rgb(120, 170, 255);
    box-shadow: 0 0 4px rgba(120,170,255,0.6);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f6fa;
}

h1, h2 {
    text-align: center;
}

